.hero {
    // border: 2px solid blue;
    width: 100%;
    min-height: 100vh;
    background: $background-secondary;

    .banner {
        // border: 2px solid red;
        height: 100vh;
        width: 100%;
        position: relative;
        padding: 10vh 5vw;
        display: grid;
        place-items: center;

        .logo-container {
            border-right: 1px solid #0007;
            border-left: 1px solid #0007;
            width: 100%;
            height: 100%;
            position: relative;
            display: grid;
            place-items: center;
            
            .letter {
                font-size: 10rem;
                font-family: $font-title;
                isolation: isolate;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 10rem;
                width: 10rem;
                // border: 1px solid blue;
                line-height: 0;
                display: grid;
                place-items: center;
                
                &.letter-1 {
                    // left: -.25rem;
                    // transform: translateY(-85%) translateX(-.5rem);
                    animation: letter-1 5s 2s forwards;

                    @keyframes letter-1 {
                        0% {
                            transform: translateY(-50%) translateX(0);
                        }
                        100% {
                            transform: translateY(-85%) translateX(-.5rem);
                        }
                    }
                }
                &.letter-2 {
                    // color: #0009;
                    // transform: translateY(-50%) translateX(1.5rem);
                    z-index: 1;
                    animation: letter-2 5s 2s forwards;
                    @keyframes letter-2 {
                        0% {
                            transform: translateY(-50%) translateX(0);
                        }
                        80% {
                            transform: translateY(-50%) translateX(1.5rem);
                            opacity: .4;
                        }
                        100% {
                            transform: translateY(-50%) translateX(1.5rem);
                            opacity: 1;
                        }
                    }
                }
            }
            .dot {
                background: #000;
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 50%;
                position: absolute;
                cursor: pointer;
                bottom: 30%;
                opacity: 0;
                animation: dot 2.5s 5s forwards ease-in;

                @keyframes dot {
                    0% {
                        opacity: 0;
                        transform: translateY(5rem);
                    }
                    50% {
                        opacity: 1;
                        transform: translateY(-2rem);
                        animation-timing-function: ease-out;
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

}