.section-flex-container {
    // border: 2px solid blue;
    margin: 7vh 0;
    display: flex;
    flex-direction: column;
    @include md {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5vh 5vw;
    }

    h2 {
        font-size: 1rem;
        text-transform: capitalize;
        opacity: .8;
        @include md {
            font-size: 1.5rem;
        }
    }

    ul {
        // border: 1px solid red;
        margin: 1rem 0;
        li {
            list-style: none;
            margin-bottom: .5rem;

            p {
                span {
                    color: $text-dark; 
                    // border: 1px solid red;
                    padding-right: .5rem;
                }
            }
        }
    }
}